$dotJSON.put("title", "Design Template")
$dotJSON.put("friendly_name", "Design Template")
## This properties only if is a Design Template
$dotJSON.put("theme", "//sketchup-help.dotcms.com/application/themes/sketchup")